<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.complaint.Repository.ComplainRepo">

       <insert id="save" parameterType="com.complaint.Entity.Complain" >
              insert into complain(user_id, title, content, category)
              values(#{userId},#{title},#{content},#{category})
       </insert>

       <select id="find" resultType="com.complaint.Entity.Complain">
              select * from complain where user_id = #{userId}
              order by created_at desc limit 1
       </select>

       <select id="findByUserName" parameterType="string" resultType="com.complaint.Entity.Complain">
              select c.* from complain c join user2 u
              on c.user_id = u.id where u.userId = #{userName}
              order by c.id desc
       </select>

       <select id="findById" resultType="com.complaint.Entity.Complain">
              select * from complain where id=#{id}
       </select>
</mapper>